<nav class="navbar padding-nav sticky-top bg-light">
  <div class="nav nav-pills text-center col">
    <span class="navbar-brand">Quest</span>
    <a [routerLink]="['/home']" class="nav-link" [routerLinkActive]="'active'"><i class="bi bi-house"></i> Home</a>
    <a [routerLink]="['/stagiaire']" class="nav-link" [routerLinkActive]="'active'"><i class="bi bi-book"></i> Stagiaires</a>
    <a [routerLink]="['/formateur']" class="nav-link" [routerLinkActive]="'active'"><i class="bi bi-brush"></i> Formateurs</a>
    <a [routerLink]="['/client']" class="nav-link" [routerLinkActive]="'active'"><i class="bi bi-briefcase-fill"></i> Clients</a>
    <a [routerLink]="['/filiere']" class="nav-link" [routerLinkActive]="'active'"><i class="bi bi-person-video3"></i> Filieres</a>
    <a [routerLink]="['/matiere']" class="nav-link" [routerLinkActive]="'active'"><i class="bi bi-vector-pen"></i> Matières</a>
    <a [routerLink]="['/ordinateur']" class="nav-link" [routerLinkActive]="'active'"><i class="bi bi-laptop"></i> Ordinateurs</a>
    <a [routerLink]="['/salle']" class="nav-link" [routerLinkActive]="'active'"><i class="bi bi-box"></i> Salles</a>
    <a [routerLink]="['/connect']" class="nav-link ms-auto" [routerLinkActive]="'active'"><i class="bi bi-person"></i> Se Connecter</a>
  </div>
</nav>
